<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pq.demo.crud.dao.StudentMapper">
    <resultMap id="studentResultMap" type="pq.demo.crud.entities.Student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="birthday" column="birthday"/>
    </resultMap>

    <select id="getAllStudents" resultMap="studentResultMap">
        SELECT `id`, `name`, `birthday`
        FROM `student`
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getStudentById" resultMap="studentResultMap">
        SELECT `id`, `name`, `birthday`
        FROM `student`
        WHERE `id` = #{id}
    </select>
    <update id="updateById">
        UPDATE `student`
        SET `name` = #{name},
            `birthday` = #{birthday}
        WHERE `id` = #{id}
    </update>
    <delete id="deleteById">
        DELETE FROM `student`
        WHERE `id` = #{id}
    </delete>
    <insert id="addStudent">
        INSERT INTO `student`
            (name, birthday)
        VALUES
            (#{name}, #{birthday})
    </insert>
</mapper>